name: Build and Push Docker Image

on:
  push:
    branches:
      - main
      - master
  workflow_dispatch:

env:
  DOCKER_IMAGE_NAME: oan-seeker-ui
  # configuration for backend APIs
  VITE_WEATHER_API_URL: "http://oan-mock-api.ccbjbrgzg6ewbmec.uaenorth.azurecontainer.io:8000/api/v1/weather/WeatherUI"
  VITE_SEARCH_API_URL: "http://oan-mock-api.ccbjbrgzg6ewbmec.uaenorth.azurecontainer.io:8000/api/v1/schemes/"
  VITE_STATES_API_URL: "http://oan-mock-api.ccbjbrgzg6ewbmec.uaenorth.azurecontainer.io:8000/api/v1/states/"
  VITE_DISTRICTS_API_URL: "http://oan-mock-api.ccbjbrgzg6ewbmec.uaenorth.azurecontainer.io:8000/api/v1/districts"
  VITE_AIBOT_API_URL: "http://oan-ai-api.dhekh2czg2f7exfc.uaenorth.azurecontainer.io:8000/api/chat/"
  VITE_TRANSCRIBE_API_URL: "http://oan-ai-api.dhekh2czg2f7exfc.uaenorth.azurecontainer.io:8000/api/transcribe/"
  VITE_TTS_API_URL: "http://oan-ai-api.dhekh2czg2f7exfc.uaenorth.azurecontainer.io:8000/api/tts/"

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    steps:
      - name:  Checkout Code
        uses: actions/checkout@v4

      - name:  Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name:  Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name:  Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/${{ env.DOCKER_IMAGE_NAME }}:latest
          build-args: |
            VITE_WEATHER_API_URL=${{ env.VITE_WEATHER_API_URL }}
            VITE_AIBOT_API_URL=${{ env.VITE_AIBOT_API_URL }}
            VITE_SEARCH_API_URL=${{ env.VITE_SEARCH_API_URL }}
            VITE_TRANSCRIBE_API_URL=${{ env.VITE_TRANSCRIBE_API_URL }}
            VITE_TTS_API_URL=${{ env.VITE_TTS_API_URL }}
            VITE_STATES_API_URL=${{ env.VITE_STATES_API_URL }}
            VITE_DISTRICTS_API_URL=${{ env.VITE_DISTRICTS_API_URL }}
